In [1]:
import re
import pickle
from pprint import pprint
import requests, bs4, re
from bs4 import BeautifulSoup as bs
import pandas as pd
from pandas import Series as s

In [2]:
top1000_clean = pd.read_pickle("top1000_clean.pkl")
top1000_clean.head()

,Title,Domestic_Gr,Dom_Open,Budget,Rel_Date,Genre,Rating,Distributor,Director,Runtime_tot_mins,MainChar,year,Years_Since_Release,Month_of_Release
0,Star Wars: Episode VII - The Force Awakens (2015),936662225.0,247966675.0,245000000.0,2015-12-16,"Action, , Adventure, , ...",PG-13,Walt Disney Studios Motion Pictures,J.J. Abrams,138.0,Daisy Ridley,2015,7,Dec
1,Avengers: Endgame (2019),858373000.0,357115007.0,356000000.0,2019-04-24,"Action, , Adventure, , ...",PG-13,Walt Disney Studios Motion Pictures,Anthony Russo,181.0,Robert Downey Jr.,2019,3,Apr
2,Spider-Man: No Way Home (2021),804761122.0,260138569.0,NaN,2021-12-15,"Action, , Adventure, , ...",PG-13,Sony Pictures Entertainment (SPE),Jon Watts,148.0,Tom Holland,2021,1,Dec
3,Avatar (2009),760507625.0,77025481.0,237000000.0,2009-12-16,"Action, , Adventure, , ...",PG-13,Twentieth Century Fox,James Cameron,162.0,Sam Worthington,2009,13,Dec
4,Black Panther (2018),700426566.0,202003951.0,NaN,2018-02-13,"Action, , Adventure, , ...",PG-13,Walt Disney Studios Motion Pictures,Ryan Coogler,134.0,Chadwick Boseman,2018,4,Feb

In [3]:
#pulling in OSCAR data from
#https://www.kaggle.com/datasets/unanimad/the-oscar-award/versions/7?resource=download
oscars = pd.read_csv('the_oscar_award.csv')
oscars

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10440,2021,2022,94,DIRECTING,Jane Campion,NaN,True
10441,2021,2022,94,DIRECTING,Kenneth Branagh,NaN,False
10442,2021,2022,94,DIRECTING,Ryusuke Hamaguchi,NaN,False
10443,2021,2022,94,DIRECTING,Paul Thomas Anderson,NaN,False
10444,2021,2022,94,DIRECTING,Steven Spielberg,NaN,False

In [4]:
oscars.category.unique()

array(['ACTOR', 'ACTRESS', 'ART DIRECTION', 'CINEMATOGRAPHY',
       'DIRECTING (Comedy Picture)', 'DIRECTING (Dramatic Picture)',
       'ENGINEERING EFFECTS', 'OUTSTANDING PICTURE',
       'UNIQUE AND ARTISTIC PICTURE', 'WRITING (Adaptation)',
       'WRITING (Original Story)', 'WRITING (Title Writing)',
       'SPECIAL AWARD', 'DIRECTING', 'WRITING', 'OUTSTANDING PRODUCTION',
       'SOUND RECORDING', 'SHORT SUBJECT (Cartoon)',
       'SHORT SUBJECT (Comedy)', 'SHORT SUBJECT (Novelty)',
       'ASSISTANT DIRECTOR', 'FILM EDITING', 'MUSIC (Scoring)',
       'MUSIC (Song)', 'DANCE DIRECTION', 'WRITING (Screenplay)',
       'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'SHORT SUBJECT (Color)', 'SHORT SUBJECT (One-reel)',
       'SHORT SUBJECT (Two-reel)', 'IRVING G. THALBERG MEMORIAL AWARD',
       'MUSIC (Original Score)', 'CINEMATOGRAPHY (Black-and-White)',
       'CINEMATOGRAPHY (Color)', 'SPECIAL EFFECTS',
       'ART DIRECTION (Black-and-White)', 'ART DIRECTION (Color)',
       'WRITING (Original Screenplay)', 'DOCUMENTARY (Short Subject)',
       'MUSIC (Music Score of a Dramatic Picture)',
       'MUSIC (Scoring of a Musical Picture)',
       'OUTSTANDING MOTION PICTURE', 'DOCUMENTARY',
       'MUSIC (Music Score of a Dramatic or Comedy Picture)',
       'WRITING (Original Motion Picture Story)', 'DOCUMENTARY (Feature)',
       'BEST MOTION PICTURE', 'WRITING (Motion Picture Story)',
       'COSTUME DESIGN (Black-and-White)', 'COSTUME DESIGN (Color)',
       'SPECIAL FOREIGN LANGUAGE FILM AWARD',
       'WRITING (Story and Screenplay)',
       'HONORARY FOREIGN LANGUAGE FILM AWARD', 'HONORARY AWARD',
       'FOREIGN LANGUAGE FILM', 'WRITING (Screenplay--Adapted)',
       'WRITING (Screenplay--Original)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'COSTUME DESIGN',
       'SHORT SUBJECT (Live Action)',
       'WRITING (Screenplay--based on material from another medium)',
       'WRITING (Story and Screenplay--written directly for the screen)',
       'SOUND', 'MUSIC (Music Score--substantially original)',
       'MUSIC (Scoring of Music--adaptation or treatment)',
       'BEST PICTURE', 'SOUND EFFECTS', 'SPECIAL VISUAL EFFECTS',
       'MUSIC (Original Music Score)',
       'MUSIC (Original Score--for a motion picture [not a musical])',
       'MUSIC (Score of a Musical Picture--original or adaptation)',
       'MUSIC (Song--Original for the Picture)',
       'WRITING (Story and Screenplay--based on material not previously published or produced)',
       'MUSIC (Original Song Score)',
       'WRITING (Story and Screenplay--based on factual material or material not previously published or produced)',
       'MUSIC (Original Dramatic Score)',
       'MUSIC (Scoring: Adaptation and Original Song Score)',
       'SHORT SUBJECT (Animated)',
       'SPECIAL ACHIEVEMENT AWARD (Visual Effects)',
       'MUSIC (Scoring: Original Song Score and Adaptation -or- Scoring: Adaptation)',
       'SHORT FILM (Animated)', 'SHORT FILM (Live Action)',
       'WRITING (Screenplay Adapted from Other Material)',
       'MUSIC (Original Song)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects)',
       'ACTOR IN A LEADING ROLE', 'ACTRESS IN A LEADING ROLE',
       'MUSIC (Original Song Score and Its Adaptation or Adaptation Score)',
       'WRITING (Screenplay Written Directly for the Screen--based on factual material or on story material not previously published or produced)',
       'VISUAL EFFECTS', 'SPECIAL ACHIEVEMENT AWARD',
       'SPECIAL ACHIEVEMENT AWARD (Sound Effects Editing)',
       'MUSIC (Adaptation Score)',
       'WRITING (Screenplay Based on Material from Another Medium)',
       'WRITING (Screenplay Written Directly for the Screen)',
       'MUSIC (Original Song Score and Its Adaptation -or- Adaptation Score)',
       'SPECIAL ACHIEVEMENT AWARD (Sound Editing)',
       'SHORT FILM (Dramatic Live Action)', 'MAKEUP',
       'SOUND EFFECTS EDITING',
       'MUSIC (Original Song Score or Adaptation Score)',
       'WRITING (Screenplay Based on Material Previously Produced or Published)',
       'MUSIC (Original Musical or Comedy Score)', 'SOUND EDITING',
       'ANIMATED FEATURE FILM', 'WRITING (Adapted Screenplay)',
       'SOUND MIXING', 'MAKEUP AND HAIRSTYLING', 'PRODUCTION DESIGN',
       'INTERNATIONAL FEATURE FILM'], dtype=object)

In [115]:
#only wanting to keep ACTOR, ACTRESS, SUPPORTING ACTRESS/ACTOR, DIRECTING categories
values = ['ACTOR IN A LEADING ROLE', 'ACTOR','ACTRESS IN A LEADING ROLE', 'ACTRESS',
          'DIRECTING', 'ACTOR IN A SUPPORTING ROLE', 'ACTRESS IN A SUPPORTING ROLE']

oscars_r = oscars.loc[oscars['category'].isin(values)]

oscars_r

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10440,2021,2022,94,DIRECTING,Jane Campion,NaN,True
10441,2021,2022,94,DIRECTING,Kenneth Branagh,NaN,False
10442,2021,2022,94,DIRECTING,Ryusuke Hamaguchi,NaN,False
10443,2021,2022,94,DIRECTING,Paul Thomas Anderson,NaN,False
10444,2021,2022,94,DIRECTING,Steven Spielberg,NaN,False

In [116]:
#need to begin cumulative totals for OSCAR df to merge with 
#box office mojo df
#going to convert year as datetime year and drop unnecessary variables
df = oscars_r.drop(columns=['year_ceremony', 'ceremony', 'winner'])
df.head()

   year_film category                 name              film
0       1927    ACTOR  Richard Barthelmess         The Noose
1       1927    ACTOR        Emil Jannings  The Last Command
2       1927  ACTRESS       Louise Dresser   A Ship Comes In
3       1927  ACTRESS         Janet Gaynor        7th Heaven
4       1927  ACTRESS       Gloria Swanson    Sadie Thompson

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2247 entries, 0 to 10444
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year_film  2247 non-null   int64
 1   category   2247 non-null   object
 2   name       2247 non-null   object
 3   film       2197 non-null   object
dtypes: int64(1), object(3)
memory usage: 87.8+ KB

In [118]:
df.category.unique()

array(['ACTOR', 'ACTRESS', 'DIRECTING', 'ACTOR IN A SUPPORTING ROLE',
       'ACTRESS IN A SUPPORTING ROLE', 'ACTOR IN A LEADING ROLE',
       'ACTRESS IN A LEADING ROLE'], dtype=object)

In [119]:
#going to score a frequency value of how many times a name 
#by year
df['Person_freq'] = df.groupby(['year_film','name'])['name'].transform('count')

#size().sort_values(ascending=False)
df.head()

   year_film category                 name              film  Person_freq
0       1927    ACTOR  Richard Barthelmess         The Noose            1
1       1927    ACTOR        Emil Jannings  The Last Command            1
2       1927  ACTRESS       Louise Dresser   A Ship Comes In            1
3       1927  ACTRESS         Janet Gaynor        7th Heaven            1
4       1927  ACTRESS       Gloria Swanson    Sadie Thompson            1

In [120]:
#checking out the stats on this new variable
df.Person_freq.describe()

count    2247.000000
mean        1.024032
std         0.153183
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: Person_freq, dtype: float64

In [121]:
#we can see that there are some rows with 2, let's check
df.loc[df['Person_freq'] == 2]
#values seem legit! it is a mix of people being nominated and winning
#for numerous films and roles

,year_film,category,name,film,Person_freq
59,1928,DIRECTING,Frank Lloyd,The Divine Lady,2
60,1928,DIRECTING,Frank Lloyd,Drag;,2
73,1929,ACTOR,George Arliss,Disraeli,2
74,1929,ACTOR,George Arliss,The Green Goddess,2
82,1929,ACTRESS,Norma Shearer,The Divorcee,2
83,1929,ACTRESS,Norma Shearer,Their Own Desire,2
655,1938,ACTRESS,Fay Bainter,White Banners,2
660,1938,ACTRESS IN A SUPPORTING ROLE,Fay Bainter,Jezebel,2
687,1938,DIRECTING,Michael Curtiz,Angels with Dirty Faces,2
690,1938,DIRECTING,Michael Curtiz,Four Daughters,2
1091,1941,ACTOR,Orson Welles,Citizen Kane,2
1138,1941,DIRECTING,Orson Welles,Citizen Kane,2
1284,1942,ACTRESS,Teresa Wright,The Pride of the Yankees,2
1289,1942,ACTRESS IN A SUPPORTING ROLE,Teresa Wright,Mrs. Miniver,2
1640,1944,ACTOR,Barry Fitzgerald,Going My Way,2
1644,1944,ACTOR IN A SUPPORTING ROLE,Barry Fitzgerald,Going My Way,2
2179,1948,ACTOR,Laurence Olivier,Hamlet,2
2213,1948,DIRECTING,Laurence Olivier,Hamlet,2
5509,1977,ACTOR IN A LEADING ROLE,Woody Allen,Annie Hall,2
5544,1977,DIRECTING,Woody Allen,Annie Hall,2
5933,1981,ACTOR IN A LEADING ROLE,Warren Beatty,Reds,2
5972,1981,DIRECTING,Warren Beatty,Reds,2
6048,1982,ACTRESS IN A LEADING ROLE,Jessica Lange,Frances,2
6054,1982,ACTRESS IN A SUPPORTING ROLE,Jessica Lange,Tootsie,2
6692,1988,ACTRESS IN A LEADING ROLE,Sigourney Weaver,Gorillas in the Mist,2
6697,1988,ACTRESS IN A SUPPORTING ROLE,Sigourney Weaver,Working Girl,2
6784,1989,ACTOR IN A LEADING ROLE,Kenneth Branagh,Henry V,2
6822,1989,DIRECTING,Kenneth Branagh,Henry V,2
6889,1990,ACTOR IN A LEADING ROLE,Kevin Costner,Dances With Wolves,2
6924,1990,DIRECTING,Kevin Costner,Dances With Wolves,2
7105,1992,ACTOR IN A LEADING ROLE,Clint Eastwood,Unforgiven,2
7106,1992,ACTOR IN A LEADING ROLE,Al Pacino,Scent of a Woman,2
7112,1992,ACTOR IN A SUPPORTING ROLE,Al Pacino,Glengarry Glen Ross,2
7143,1992,DIRECTING,Clint Eastwood,Unforgiven,2
7228,1993,ACTRESS IN A LEADING ROLE,Holly Hunter,The Piano,2
7229,1993,ACTRESS IN A LEADING ROLE,Emma Thompson,The Remains of the Day,2
7231,1993,ACTRESS IN A SUPPORTING ROLE,Holly Hunter,The Firm,2
7235,1993,ACTRESS IN A SUPPORTING ROLE,Emma Thompson,In the Name of the Father,2
7783,1998,ACTOR IN A LEADING ROLE,Roberto Benigni,Life Is Beautiful,2
7818,1998,DIRECTING,Roberto Benigni,Life Is Beautiful,2
8044,2000,DIRECTING,Steven Soderbergh,Erin Brockovich,2
8046,2000,DIRECTING,Steven Soderbergh,Traffic,2
8241,2002,ACTRESS IN A LEADING ROLE,Julianne Moore,Far from Heaven,2
8244,2002,ACTRESS IN A SUPPORTING ROLE,Julianne Moore,The Hours,2
8455,2004,ACTOR IN A LEADING ROLE,Clint Eastwood,Million Dollar Baby,2
8456,2004,ACTOR IN A LEADING ROLE,Jamie Foxx,Ray,2
8459,2004,ACTOR IN A SUPPORTING ROLE,Jamie Foxx,Collateral,2
8491,2004,DIRECTING,Clint Eastwood,Million Dollar Baby,2
8571,2005,ACTOR IN A SUPPORTING ROLE,George Clooney,Syriana,2
8607,2005,DIRECTING,George Clooney,"Good Night, and Good Luck.",2
8801,2007,ACTRESS IN A LEADING ROLE,Cate Blanchett,Elizabeth: The Golden Age,2
8806,2007,ACTRESS IN A SUPPORTING ROLE,Cate Blanchett,I'm Not There,2
10278,2019,ACTRESS IN A LEADING ROLE,Scarlett Johansson,Marriage Story,2
10284,2019,ACTRESS IN A SUPPORTING ROLE,Scarlett Johansson,Jojo Rabbit,2

In [122]:
df.head()

   year_film category                 name              film  Person_freq
0       1927    ACTOR  Richard Barthelmess         The Noose            1
1       1927    ACTOR        Emil Jannings  The Last Command            1
2       1927  ACTRESS       Louise Dresser   A Ship Comes In            1
3       1927  ACTRESS         Janet Gaynor        7th Heaven            1
4       1927  ACTRESS       Gloria Swanson    Sadie Thompson            1

In [139]:
df['cumulative_freq'] = df.sort_values(by=['year_film', 'name']
                           ).groupby(['name', 'year_film']
                                    ).cumcount() + 1

In [140]:
df.head()

,year_film,category,name,film,Person_freq,cumulative_freq
0,1927,ACTOR,Richard Barthelmess,The Noose,1,1
1,1927,ACTOR,Emil Jannings,The Last Command,1,1
2,1927,ACTRESS,Louise Dresser,A Ship Comes In,1,1
3,1927,ACTRESS,Janet Gaynor,7th Heaven,1,1
4,1927,ACTRESS,Gloria Swanson,Sadie Thompson,1,1

In [141]:
df.cumulative_freq.describe()

count    2247.000000
mean        1.012016
std         0.108981
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: cumulative_freq, dtype: float64

In [133]:
df.groupby('name').cumulative_freq.count().sort_values(ascending=False)

name
Meryl Streep         21
Katharine Hepburn    12
Jack Nicholson       12
William Wyler        12
Bette Davis          11
                     ..
James Garner          1
James Gleason         1
James L. Brooks       1
James Stephenson      1
Yul Brynner           1
Name: cumulative_freq, Length: 1185, dtype: int64

In [134]:
df.loc[df['name'] == "Meryl Streep"]

,year_film,category,name,film,Person_freq,cumulative_freq
5637,1978,ACTRESS IN A SUPPORTING ROLE,Meryl Streep,The Deer Hunter,1,1
5743,1979,ACTRESS IN A SUPPORTING ROLE,Meryl Streep,Kramer vs. Kramer,1,2
5947,1981,ACTRESS IN A LEADING ROLE,Meryl Streep,The French Lieutenant's Woman,1,3
6050,1982,ACTRESS IN A LEADING ROLE,Meryl Streep,Sophie's Choice,1,4
6160,1983,ACTRESS IN A LEADING ROLE,Meryl Streep,Silkwood,1,5
6375,1985,ACTRESS IN A LEADING ROLE,Meryl Streep,Out of Africa,1,6
6590,1987,ACTRESS IN A LEADING ROLE,Meryl Streep,Ironweed,1,7
6691,1988,ACTRESS IN A LEADING ROLE,Meryl Streep,A Cry in the Dark,1,8
6902,1990,ACTRESS IN A LEADING ROLE,Meryl Streep,Postcards from the Edge,1,9
7450,1995,ACTRESS IN A LEADING ROLE,Meryl Streep,The Bridges of Madison County,1,10
7796,1998,ACTRESS IN A LEADING ROLE,Meryl Streep,One True Thing,1,11
7910,1999,ACTRESS IN A LEADING ROLE,Meryl Streep,Music of the Heart,1,12
8246,2002,ACTRESS IN A SUPPORTING ROLE,Meryl Streep,Adaptation,1,13
8689,2006,ACTRESS IN A LEADING ROLE,Meryl Streep,The Devil Wears Prada,1,14
8918,2008,ACTRESS IN A LEADING ROLE,Meryl Streep,Doubt,1,15
9031,2009,ACTRESS IN A LEADING ROLE,Meryl Streep,Julie & Julia,1,16
9279,2011,ACTRESS IN A LEADING ROLE,Meryl Streep,The Iron Lady,1,17
9528,2013,ACTRESS IN A LEADING ROLE,Meryl Streep,August: Osage County,1,18
9659,2014,ACTRESS IN A SUPPORTING ROLE,Meryl Streep,Into the Woods,1,19
9903,2016,ACTRESS IN A LEADING ROLE,Meryl Streep,Florence Foster Jenkins,1,20
10029,2017,ACTRESS IN A LEADING ROLE,Meryl Streep,The Post,1,21

In [137]:
df.loc[df['name'] == "James Cameron"]
#since going to merge this df with the box office mojo
# ON YEAR AND NAME
# need to figure out what to do since some people have two different values
#for the same year

#let's see how many times this occurs

,year_film,category,name,film,Person_freq,cumulative_freq
7707,1997,DIRECTING,James Cameron,Titanic,1,1
9057,2009,DIRECTING,James Cameron,Avatar,1,2

In [131]:
df.groupby(['name', 'year_film']).year_film.count().sort_values(ascending=False)

name              year_film
Clint Eastwood    2004         2
Holly Hunter      1993         2
George Arliss     1929         2
Michael Curtiz    1938         2
Barry Fitzgerald  1944         2
                              ..
Glenn Close       1988         1
                  1987         1
                  1984         1
                  1983         1
Yul Brynner       1956         1
Name: year_film, Length: 2220, dtype: int64

In [136]:
#this might be a problem when merging, but we'll see
df.to_pickle("oscars_final.pkl")